html {
    scroll-behavior: smooth;
    scroll-margin: 20px;
}

body {
    background-color: #14192C;

}

main {
    padding-top: 50px;
}

div[id] {
    scroll-margin-top: 50px;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    background-image: linear-gradient(#008cff, #14192C);
    width: 100%;
    height: 50px;
    z-index: 1000;
    top: 0;
    transition: 1s;

}

nav.abajo {
    transition: 2s;
    opacity: 0.9;
}


.informacion-pricipal {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0px 50px;
}

.foto-perfil {
    height: 500px;
    filter: grayscale(0.5);
    border-radius: 100px;
}



.texto-presentacion {
    color: #ffffff;
    font-size: 20px;
    margin: 0px 50px;
    text-align: justify;
}

.nav-nombre {
    margin: 0px 25px 0px 0px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.expeLabor {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 75px;
    background-color: #ffffff;
    border-radius: 10px;
}

.img-lenguajes {
    width: 50px;
    margin: 0px 25px;
}

.nav-section,
h6 {
    display: flex;
    margin: 0px 10px 0px 10px;
}

.nav-section>a {
    color: #ffffff;
}

/* inicio de cards*/

.btnvisit {
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}

.btnvisit:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
        0 0 20px #008cff,
        0 0 50px #008cff,
        0 0 100px #008cff;
}

.allCards {
    display: flex;

    flex-direction: row;
    justify-content: center;
}

.textExp {
    text-align: center;
    color: #ffffff;
}

/*inicio card construccion*/

.imgContConst {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 80px;
}

.imgCons {
    width: 150px;
    border-radius: 10px;
    margin: 10px;
}

.cardCons {
    width: 250px;
    height: 350px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 25px;
}

.cardCons div {
    z-index: 1;
    color: #ffffff;
}

.cardTextCons {
    padding: 10px;
}

.cardCons::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #006b98, #006b98);
    height: 150%;
    animation: rotBGimg 10s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cardCons::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

/*Finaliza card construccion*/

/*inicio card agropecuario*/
.imgContAgro {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 80px;
}

.imgAgro {
    background-color: #ffffff;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
}

.cardAgro {
    width: 250px;
    height: 350px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 25px;
}

.cardAgro div {
    z-index: 1;
    color: #ffffff;
}

.cardTextAgro {
    padding: 10px;
}

.cardAgro::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #28a745, #28a745);
    height: 150%;
    animation: rotBGimg 10s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cardAgro::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

/*Finaliza card agropecuario*/

/*inicio card Clips*/
.imgContClips {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 80px;
}

.imgClips {
    width: 150px;
    border-radius: 10px;
    margin: 10px;
}

.cardClips {
    width: 250px;
    height: 350px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 25px;
}

.cardClips div {
    z-index: 1;
    color: #ffffff;
}

.cardTextClips {
    padding: 10px;
}

.cardClips::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #BF0811, #BF0811);
    height: 150%;
    animation: rotBGimg 10s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cardClips::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}


/*Finaliza card Clips*/

/* Finaliza de cards*/

.cards-bg {
    width: 250px;
    height: 250px;
    background-color: #777777;
    border: solid 5px;
    border-color: #006b98  ;
    border-radius: 25px;
    margin: 50px;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #777777;
    height: 150px;
    width: 100%;
    position: relative;
    bottom: 0;
}